.container {
    color: white;
    display: grid;
    padding: 10px;
    background-color: darkcyan;
    grid-template: auto auto / auto auto auto;
    grid-gap: 10px;
}

.r1 {
    background-color: red;
}

.r2 {
    background-color: blue;
}

.r3 {
    background-color: green;
}

.rect {
    height: 150px;
}