.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    padding: 30px;
}

@keyframes changeColor {
    from {
        background-color: black;
    }
    to {
        background-color: yellow;
    }
}

@keyframes change2Colors {
    0% {
        background-color: black;
    }
    25% {
        background-color: wheat;
    }
    50% {
        background-color: red;
    }
    100% {
        background-color: blue;
    }
}

@keyframes changeColorAndSize {
    0% {
        background-color: red;
        width: 200px;
    }
    25% {
        background-color: aqua;
        width: 300px;
    }
    50% {
        background-color: purple;
        width: 400px;
    }
    100% {
        background-color: yellowgreen;
        width: 200px;
    }
}

.box {
    width: 200px;
    height: 200px;
    border-style: solid;
    animation-name: changeColor;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.box2 {
    width: 200px;
    height: 200px;
    border-style: solid;
    animation-name: change2Colors;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.box3 {
    width: 200px;
    height: 200px;
    border-style: solid;
    animation-name: changeColorAndSize;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}